---
version: 0.1
auth:
  htpasswd:
    realm: Registry Realm
    path: /auth/registry.htpasswd
log:
  level: debug
http:
  addr: 0.0.0.0:5000
  hostname: https://{{inventory_hostname}}
  tls:
    certificate: /pki/cert.pem
    key: /pki/key.pem
  secret: {{docker_registry_http_secret|to_json}}
storage:
  cache:
    blobdescriptor: inmemory
  delete:
    enabled: {{docker_registry_delete_mode|bool}}
  s3:
    accesskey: {{docker_registry_storage_s3_access_key|to_json}}
    secretkey: {{docker_registry_storage_s3_secret_key|to_json}}
    region: {{docker_registry_storage_s3_region|to_json}}
    regionendpoint: {{docker_registry_storage_s3_regionendpoint|to_json}}
    bucket: {{docker_registry_storage_s3_bucket|to_json}}
    secure: {{docker_registry_storage_s3_secure|to_json}}
    v4auth: {{docker_registry_storage_s3_v4auth|to_json}}
  maintenance:
    readonly:
      enabled: {{docker_registry_readonly_mode|bool}}